:root {
    --primary-color: #FBA95E;
    --hover-color: rgb(190, 51, 0);
    --text-color: rgb(29, 29, 29);
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* INICIO MENU BAR */

.menuBar {
    background-color: var(--primary-color);
    height: 60px;
    padding: 0;
    position: fixed;
    z-index: 1000; /* Para o menu sempre ficar a frente do conteúdo da página */
    top: 0;
    left: 0;
    border-end-end-radius: 15px;
    border-end-start-radius: 15px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 20px;
}

.menuBar .logo{
    margin-right: 40px
}

.menuBar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menuBar ul li.link {
    margin: 0 30px; /* Espaçamento entre os links */
}

.menuBar li a {
    text-decoration: none; /* Remove o sublinhado */
    color: var(--text-color);
    font-size: 16px;
    transition: color 0.2s ease;
    font-weight: bold
}

/* Efeito ao passar o mouse sobre os links */
.menuBar li a:hover {
    color: var(--hover-color)
}

/* Estilo específico para a logo no menuBar */
.menuBar img {
    height: 50px;
    width: auto;
}

/* FIM MENU BAR */

/* INICIO MAIN */
body {
    display: flex;
    justify-content: center;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 800px;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
}

.image-main {
    width: 40%;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.fixed-container {
    margin-bottom: 50px;
}

.prompt-section {
    margin-bottom: 30px;
}

label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #ff9800;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.prompt-section button:hover {
    background-color: #e68900;
}

.recipe-section {
    text-align: left;
    margin-top: 40px;
}

.recipe-section h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.recipe-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 30px;
}

.recipe-container h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.recipe-container ul {
    list-style: none;
}

.recipe-container li {
    font-size: 1em;
    margin-bottom: 5px;
}

.reset-btn {
    background: none;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
    margin-top: 20px;
    color: #ff9800;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.reset-btn:hover {
    font-size: 2.75em;
}
/* FIM MAIN */