h2 .sectionTitle {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Acrescimo de um container para titulo*/
.container-resources {
    margin-top: 100px;
    text-align: center;
    }

/* Acrescimo de um container para as boxes*/
.container1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center; /* Centraliza as caixas horizontalmente */
    gap: 50px; /* Espaçamento uniforme entre as caixas */
}


/* Criando as Boxes */
.box {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: 0; /* Remove margens desnecessárias */
    box-sizing: border-box;
}

/* Config de elesmentos dentro das boxes */
.box img {
    max-width: 94%;
    max-height: 100%;
}

.titulo {
    color: black;
    font-size: 18px;
    text-align: center;
}

.logo1 {
    margin-top: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container1 {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        gap: 15px;
        padding: 0 10px;
    }

    .box {
        padding: 20px; /* Reduz o padding em telas menores */
        max-width: 100%; /* Permite que a box ocupe toda a largura */
    }

    .titulo {
        font-size: 16px;
    }
}