h2 .sectionTitle {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}

.container-resources {
    margin-top: 100px;
}

.container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta automaticamente a quantidade de colunas */
    gap: 20px; /* Espaço entre os elementos */
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%; /* Ajusta automaticamente ao grid */
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    margin: auto;
    box-sizing: border-box;
}

.box img {
    max-width: 94%;
    max-height: 100%;
}

.titulo {
    color: black;
    font-size: 18px;
    text-align: center;
}

.logo1 {
    margin-top: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container1 {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
        gap: 15px;
        padding: 0 10px;
    }

    .box {
        padding: 20px; /* Reduz o padding em telas menores */
        max-width: 100%; /* Permite que a box ocupe toda a largura */
    }

    .titulo {
        font-size: 16px;
    }
}