.bodyhist {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 100px;
    padding-left: 100px; padding-right: 100px;
    padding-bottom: 25px;
}

.recipe {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    padding: 25px 50px 25px 50px;
    height: 100%; width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.content {
    display: flex;
    align-items: flex-start;
    padding: 20px 0px 0px 0px;
}

.recipe img {
    width: 18%;
    border-right: 1px solid #ccc;
    margin-right: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%; height: 100%;
}

.ingredients, .steps {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

h4 {
    color: #f8b400;
}

h5 {
    color: #333;
    margin-top: 10px;
    text-align: left;
}
