.bodyhist {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-top: 100px;
    padding-left: 50px; /* Reduzi padding para telas menores */
    padding-right: 50px;
    padding-bottom: 25px;
    box-sizing: border-box;
}

.recipe {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 20px auto;
    padding: 25px;
    width: 100%;
    max-width: 800px; /* Limita o tamanho máximo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.content {
    display: grid;
    gap: 20px;
    align-items: start;
    padding-top: 20px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ingredients, .steps {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

h4 {
    color: #f8b400;
}

h5 {
    color: #333;
    margin-top: 10px;
    text-align: left;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr; /* Layout em uma coluna para telas menores */
    }

    .bodyhist {
        padding-left: 20px;
        padding-right: 20px;
    }
}