.container {
    display: grid;
    grid-template-columns: 1fr; /* Inicia com uma coluna */
    justify-content: center;
    align-items: center;
    height: auto;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.image-main {
    width: 100%; /* Ajusta a largura para se adaptar ao grid */
    max-width: 300px;
    margin: 0 auto 20px;
}

header h1 {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 20px;
}

.fixed-container {
    margin-bottom: 50px;
}

.prompt-section {
    display: grid;
    grid-template-columns: 1fr; /* Inicia com uma coluna */
    gap: 15px;
    margin-bottom: 30px;
}

label {
    font-size: 1em;
    margin-bottom: 10px;
    display: block;
}

.input-container {
    display: grid;
    grid-template-columns: 1fr auto; /* Campo de entrada e botão */
    gap: 10px;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.prompt-section button:hover {
    background-color: var(--hover-color);
}

.recipe-section {
    text-align: left;
    margin-top: 40px;
}

.recipe-section h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

.recipe-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Configuração padrão com duas colunas */
    gap: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.recipe-container h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.recipe-container ul {
    list-style: none;
}

.recipe-container li {
    font-size: 1em;
    margin-bottom: 5px;
}

/* Define a animação de rotação */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.reset-btn {
    background: none;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
    margin-top: 20px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
}

.reset-btn:hover {
    animation: rotate 0.5s ease-in-out;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .image-main {
        width: 80%;
        margin-bottom: 20px;
    }

    .prompt-section {
        grid-template-columns: 1fr; /* Coluna única para campo e botão */
    }

    .recipe-container {
        grid-template-columns: 1fr; /* Muda para uma coluna em telas menores */
    }
    
    .recipe-section h2 {
        font-size: 1.4em;
    }

    .recipe-container h3 {
        font-size: 1.1em;
    }
}